/****** Activite ***********/
.activite {
  margin-left: 2%;
  margin-right: 2%;
}

/****** Cards ***********/
.activite .card {
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.activite-cards {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.activite-cards .card-content {
  display: block;
}

.activite-cards img {
  width: 100%;
  height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activite-cards .card-title {
  margin-top: 14px;
  padding-bottom: 15px;
  margin-left: 6%;
}

/****** Media queries ***********/
/****** Tablet ***********/
@media (max-width: 1024px) {
}

/****** Mobile ***********/
@media (max-width: 767px) {
}
