/* CLEAR */

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 33px;
}

.hebergements-cards .card-content {
  display: block;
}

.afficher-plus {
  margin-top: 4%;
}

.hebergements-cards img {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.try {
  flex: 1 1 calc(33.333% - 20px);
}
