<footer>
  <div class="footer-content">
    <!-- A Propos -->
    <div>
      <h3>À Propos</h3>
      <p>Fonctionnement du site</p>
      <p>Conditions générales</p>
      <p>Données et confidentialité</p>
    </div>

    <!-- Nos hébergements -->
    <div>
      <h3>Nos hébergements</h3>
      <p>Charte qualité</p>
      <p>Proposer votre hôtel</p>
    </div>

    <!-- Assistance -->
    <div>
      <h3>Assistance</h3>
      <p>Centre d'aide</p>
      <p>Nous contacter</p>
    </div>
  </div>
</footer>
